---
import { useTranslations } from "../i18n/utils";
const { lang } = Astro.props;
const t = useTranslations(lang);
---

<section class="relative py-3 text-foreground overflow-hidden">
  <div class="max-w-5xl mx-auto flex flex-col space-y-2 mb-6">
    <h2 class="text-xl font-bold text-primary relative inline-block">
      {t("aboutme.title")}
    </h2>
    <p class="text-secondary max-w-2xl leading-relaxed relative">
      {t("aboutme.paragraph.1")}
      <span class="text-accent relative inline-block mx-1">
        <svg
          class="absolute -left-4 -top-2 w-4 h-4 text-accent"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path
            d="M9 17H7c-1.1 0-2-.9-2-2V7h4v10zM19 17h-2c-1.1 0-2-.9-2-2V7h4v10z"
          ></path>
        </svg>
        {t("aboutme.why")}
        <svg
          class="absolute -right-4 -bottom-2 w-4 h-4 text-accent"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path d="M15 7h4v8c0 1.1-.9 2-2 2h-2V7zM5 7h4v8c0 1.1-.9 2-2 2H5V7z"
          ></path>
        </svg>
      </span>
      {t("aboutme.paragraph.2")}
    </p>

    <p class="mt-4 text-secondary max-w-2xl leading-relaxed">
      {t("aboutme.paragraph.3")}
    </p>
  </div>
</section>
