<footer
  class="border-t border-muted py-3 text-sm text-secondary tracking-tight"
>
  <div
    class="max-w-6xl mx-auto flex flex-col md:flex-row items-center justify-between gap-2"
  >
    <p class="text-foreground">
      Open source · <span class="font-light">2025</span>
    </p>
    <p>
      Made with <span class="text-primary">Astro</span> + <span
        class="text-accent">Tailwind</span
      >
    </p>
  </div>
</footer>
