<footer
  class="border-t border-[#CCFF66] py-3 text-sm text-neutral-400 tracking-tight"
>
  <div
    class="max-w-6xl mx-auto flex flex-col md:flex-row items-center justify-between gap-2"
  >
    <!-- Izquierda: Info del proyecto -->
    <p class="text-neutral-300">
      Open source · <span class="font-light">2025</span>
    </p>

    <!-- Derecha: Stack -->
    <p>
      Made with <span class="text-[#CCFF66]">Astro</span> + <span
        class="text-cyan-300">Tailwind</span
      >
    </p>
  </div>
</footer>
