---
import { getAbsoluteLocaleUrl, getRelativeLocaleUrl } from "astro:i18n";
import GitHubIcon from "../../src/assets/Github.svg";
const currentLang = Astro.currentLocale || "es";
import { useTranslations } from "src/i18n/utils";
import { languageList } from "../i18n/ui";
const translateUi = useTranslations(currentLang as keyof typeof languageList);
---

<header>
  <nav
    class="flex items-center py-4 mb-4 border-b border-[#CCFF66] text-neutral-300 text-base"
  >
    <div class="flex space-x-4">
      <a
        href={getRelativeLocaleUrl(currentLang, "/")}
        class="text-neutral-300 underline underline-offset-4 decoration-transparent hover:text-white hover:decoration-[#CCFF66] transition-all duration-200"
        >{translateUi("nav.home")}</a
      >
      <a
        href={getAbsoluteLocaleUrl(currentLang, "blog")}
        class="text-neutral-300 underline underline-offset-4 decoration-transparent hover:text-white hover:decoration-[#CCFF66] transition-all duration-200"
        >{translateUi("nav.blog")}</a
      >
    </div>

    <a
      href="https://github.com/arcibyte"
      target="_blank"
      rel="noopener noreferrer"
      class="ml-auto"
    >
      <img
        src={GitHubIcon.src}
        alt="GitHub"
        class="w-5 h-5 opacity-80 hover:opacity-100"
      />
    </a>
  </nav>
</header>
