---
import GitHubIcon from "../../src/assets/Github.svg";
---

<header>
  <nav
    class="flex items-center py-4 mb-4 border-b border-[#CCFF66] text-neutral-300 text-base"
  >
    <div class="flex space-x-4">
      <a
        href="/"
        class="text-neutral-300 underline underline-offset-4 decoration-transparent hover:text-white hover:decoration-[#CCFF66] transition-all duration-200"
        >Home</a
      >
      <a
        href="/blog"
        class="text-neutral-300 underline underline-offset-4 decoration-transparent hover:text-white hover:decoration-[#CCFF66] transition-all duration-200"
        >Blog</a
      >
    </div>

    <a
      href="https://github.com/arcibyte"
      target="_blank"
      rel="noopener noreferrer"
      class="ml-auto"
    >
      <img
        src={GitHubIcon.src}
        alt="GitHub"
        class="w-5 h-5 opacity-80 hover:opacity-100"
      />
    </a>
  </nav>
</header>
