---
import GitHubIcon from "../../src/assets/Github.svg";
---

<header>
  <nav
    class="flex items-center py-4 border-b border-neutral-800 text-neutral-300 text-base"
  >
    <div class="flex space-x-4">
      <a href="/" class="hover:text-neutral-50 hover:underline">Home</a>
      <a href="/blog" class="hover:text-neutral-50 hover:underline">Blog</a>
    </div>

    <a
      href="https://github.com/arcibyte"
      target="_blank"
      rel="noopener noreferrer"
      class="ml-auto"
    >
      <img
        src={GitHubIcon.src}
        alt="GitHub"
        class="w-5 h-5 opacity-80 hover:opacity-100"
      />
    </a>
  </nav>
</header>
