---
import { getAbsoluteLocaleUrl, getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "src/i18n/utils";
import { languageList } from "../i18n/ui";

const currentLang = Astro.currentLocale || "es";
const translateUi = useTranslations(currentLang as keyof typeof languageList);
---

<header class="text-white py-4">
  <nav class="flex items-center justify-between max-w-7xl mx-auto">
    <a href="/">
      <div class="flex items-center space-x-3">
        <img
          src="/public/img/profile.webp"
          alt="Foto de perfil"
          class="w-8 h-8 rounded-full object-cover"
        />
        <span class="font-bold tracking-wide">Arcibyte</span>
      </div>
    </a>

    <div class="flex items-center space-x-6 text-sm font-mono text-neutral-300">
      <a
        href={getAbsoluteLocaleUrl(currentLang, "blog")}
        class="hover:text-white transition-colors duration-200"
      >
        {translateUi("nav.blog")}
      </a>
    </div>
  </nav>
</header>
