---
import techData from "../data/techData";
const techStack = [
  { name: "React" },
  { name: "TailwindCSS" },
  { name: "JavaScript" },
  { name: "TypeScript" },
  { name: "Astro" },
  { name: "Python" },
  { name: "Linux" },
  { name: "Git" },
];
---

<section class="mb-6">
  <h3 class="mb-4 text-2xl">Stack & Tools</h3>
  <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
    {
      techStack.map((tech) => {
        const techInfo = techData.find((t) => t.name === tech.name);
        return techInfo ? (
          <div class="flex max-w-xs flex-col items-center space-y-2 rounded-xl border border-[#1F2937] p-4 bg-gradient-to-br from-[#0e1320] via-[#101726] to-[#0e1320] shadow-md">
            <div class="bg-[#1a2333] p-3 rounded-full">
              <img
                src={techInfo.icon}
                class="w-8 h-8"
                alt={`${tech.name} Icon`}
              />
            </div>
            <span class="text-neutral-100 text-sm tracking-wide">
              {tech.name}
            </span>
          </div>
        ) : null;
      })
    }
  </div>
</section>
