---
import { projects } from "../../data/projects";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return projects.map((project) => ({
    params: { slug: project.slug },
  }));
}

const { slug } = Astro.params;

const project = projects.find((p) => p.slug === slug);

if (!project) {
  throw new Error(`Proyecto no encontrado: ${slug}`);
}
---

<Layout title={project.title} description={project.description}>
  <h1 class="text-2xl mt-3 font-bold mb-4">{project.title}</h1>
  <p class="text-[15px] mb-4">
    {project.details ?? "Este proyecto aún no tiene una descripción detallada."}
  </p>
</Layout>
