---
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/public/icons/Logo.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="p-4 sm:p-0 mx-auto max-w-[580px] text-base">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    background-color: #111010;
    font-family: "Rubik-Regular";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Rubik-Regular";
    src: url(../../public/fonts/Rubik-Regular.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Rubik-Bold";
    src: url(../../public/fonts/Rubik-Bold.woff) format("woff");
    font-style: normal;
    font-display: swap;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #ccff66;
    font-family: "Rubik-Bold";
  }
  p {
    color: #d3d4d4;
  }
  span {
    font-family: "Rubik-Regular";
  }
</style>
