---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <section
    class="prose prose-code:text-neutral-50 prose-headings:text-cyan-300 prose-h2:text-[#CCFF66] mt-6 mb-6"
  >
    <slot />
  </section>
</Layout>
